{% set name='ABORT RECIPE' %}
{% extends 'recipesets/single/base.j2' %}
{% block tasks %}
    {% include 'tasks/check_install.j2' %}
    {% include 'tasks/abort_recipe.j2' %}
    {% include 'tasks/pass.j2' %}
{% endblock %}
