{% set name='ABORT TASK' %}
{% extends 'recipesets/single/base.j2' %}
{% block tasks %}
    {% include 'tasks/check_install.j2' %}
    {% include 'tasks/abort_task.j2' %}
    {% include 'tasks/pass.j2' %}
{% endblock %}
