{% set name='KERNEL PANIC' %}
{% extends 'recipesets/single/base.j2' %}
{% block tasks %}
    {% include 'tasks/check_install.j2' %}
    {% include 'tasks/kernel_panic.j2' %}
    {% include 'tasks/pass.j2' %}
{% endblock %}
