<?xml version="1.0" encoding="UTF-8"?>
<job retention_tag="60days" group="cki">
  <whiteboard>{
   "name": "UPT Smoke Test, Recipes: {{ smoke_tests }}, Arch: {{ arch }}",
   "jod_id": "GITLAB_JOB_ID_PLACEHOLDER"
   }</whiteboard>
   {# Check and generate required recipesets #}
   {# Single host #}
   {% if 'abort_recipe' in smoke_tests %}
        {% include 'recipesets/single/abort_recipe.j2' %}
   {% endif %}
   {% if 'abort_task' in smoke_tests %}
        {% include 'recipesets/single/abort_task.j2' %}
   {% endif %}
   {% if 'fail' in smoke_tests %}
        {% include 'recipesets/single/fail.j2' %}
   {% endif %}
   {% if 'kernel_panic' in smoke_tests %}
        {% include 'recipesets/single/kernel_panic.j2' %}
   {% endif %}
   {% if 'skip' in smoke_tests %}
        {% include 'recipesets/single/skip.j2' %}
   {% endif %}
   {% if 'pass' in smoke_tests %}
        {% include 'recipesets/single/pass.j2' %}
   {% endif %}
   {% if 'timeout' in smoke_tests %}
        {% include 'recipesets/single/timeout.j2' %}
   {% endif %}
   {% if 'warn' in smoke_tests %}
        {% include 'recipesets/single/warn.j2' %}
   {% endif %}
   {# Multi hosts #}
   {% if 'multihosts_abort_recipe' in smoke_tests %}
        {% include 'recipesets/multihosts/abort_recipe.j2' %}
   {% endif %}
   {% if 'multihosts_abort_task' in smoke_tests %}
        {% include 'recipesets/multihosts/abort_task.j2' %}
   {% endif %}
   {% if 'multihosts_fail' in smoke_tests %}
        {% include 'recipesets/multihosts/fail.j2' %}
   {% endif %}
   {% if 'multihosts_kernel_panic' in smoke_tests %}
        {% include 'recipesets/multihosts/kernel_panic.j2' %}
   {% endif %}
   {% if 'multihosts_skip' in smoke_tests %}
        {% include 'recipesets/multihosts/skip.j2' %}
   {% endif %}
   {% if 'multihosts_pass' in smoke_tests %}
        {% include 'recipesets/multihosts/pass.j2' %}
   {% endif %}
   {% if 'multihosts_warn' in smoke_tests %}
        {% include 'recipesets/multihosts/warn.j2' %}
   {% endif %}
</job>
