      <task name="UPT smoke tests ending with FAIL result" role="STANDALONE">
        <fetch url="https://gitlab.com/redhat/centos-stream/tests/kernel/kernel-tests/-/archive/main/kernel-test-main.zip#upt_smoke_tests/fail" />
        <params>
          <param name="CKI_ID" value="10002" />
          <param name="CKI_NAME" value="UPT Smoke Test FAIL" />
          <param name="CKI_UNIVERSAL_ID" value="upt_smoke_tests_fail" />
          <param name="CKI_MAINTAINERS" value="John Doe &lt;jdoe@redhat.com&gt; / jdoe" />
          <param name="KILLTIMEOVERRIDE" value="60" />
          <param name="CKI_WAIVED" value="False" />
        </params>
      </task>
